<h1>コメント一覧</h1>

<table class="pikachu">
  <tr>
    <th>Id</th>
    <th>Message</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.message_id %></td>
    <td><%= comment.name %></td>
    <td><%= comment.comment %></td>
    <td><%= comment.created_at %></td>
    <td><%= comment.updated_at %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
