<!DOCTYPE html>
<html>
<head>
  <title>コメントぶひひー</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "messages" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <base href="http://localhost:3000/">
</head>
<body>
<h1>コメント用のレイアウトが呼ばれてるブッヒッヒー</h1>
<hr>
<%= yield %>

<hr>

<a href="messages/">TOPを狙え</a>
</body>
</html>
